body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif, 12px;
}

#navigation-top {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

#main-canvas {
	position: fixed;
	top: 40px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #01021E;
}
<<<<<<< HEAD
=======
 
ul, ol {
    list-style: none;
    margin: 10px;
}

.leaflet-container a {
    top: 300px;
    font-size: 14px;
    text-decoration: none;
    color: black;
}


li a:hover {
    font-size: 20px;
    text-decoration: none;
    background-color: black;
    color: white;
    
}
>>>>>>> themes menu styling

#navigation-bottom .navbar {
	margin: 0;
}

.leaflet-popup-content-wrapper {
	-webkit-border-radius: 0px;;
	-moz-border-radius: 0px;;
	border-radius: 0px;;
}

/* .leaflet-popup-scrolled::-webkit-scrollbar {
	width: 10px;
	height: 16px;
} */
.umx-shadow {
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.leaflet-marker-icon {
	width: none;
	height: none;
	white-space: nowrap;
	opacity: 0.8;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.umx-marker-title {
	color: black;
	background-color: white;
	border: 1px solid white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding: 0.2em;
}

.area-annotations {
	background-color: white;
}

/** Zoom visualization */
.zoom-out-2 .leaflet-marker-icon,.zoom-out-prev-1 .leaflet-marker-icon {
	font-size: 0.8em;
}

.zoom-out-2 .leaflet-marker-icon .icon,.zoom-out-prev-1 .leaflet-marker-icon .icon
	{
	display: none;
}

.zoom-out-3 .leaflet-marker-icon,.zoom-out-prev-2 .leaflet-marker-icon {
	font-size: 0.6em;
}

.zoom-in-1 .leaflet-marker-icon {
	font-size: 1.4em;
}

.zoom-in-2 .leaflet-marker-icon,.zoom-in-prev-1 .leaflet-marker-icon {
	font-size: 1.6em;
}